<header class="header">
    <div class="header_left">
        {{ with $.Site.Params.header.logo.imgUrl }}
            {{ if $.Site.Params.header.logo.logoLink }}
                <a href="{{ $.Site.Params.header.logo.logoLink }}">
                    <img class="logo" src="{{ "{{ . }}" | absURL }}" alt="logo"
                    />
                </a>
            {{ else }}
                <a href="/">
                    <img class="logo" src="{{ "{{ . }}" | absURL }}" alt="logo"
                    />
                </a>
            {{ end }}

        {{ end }}
    </div>

    <div class="header_middle">
        {{ if .IsHome }}
            <a href="/fprog" style="text-decoration: underline">
                {{ $.Site.Params.header.title }}
            </a>
        {{ else }}
            {{ $.Page.Title }} -
            <a href="/fprog" style="text-decoration: underline">
                {{ $.Site.Params.header.title }}
            </a>
        {{ end }}
    </div>
</header>
